<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcussjolin.calhacks" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".CalHacksApplication"
        android:allowBackup="true"
        android:icon="@drawable/wolf"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/need_some_info" >
        </activity>
        <activity
            android:name=".StoreStuffActivity"
            android:label="@string/title_activity_store_stuff" >
        </activity>
        <activity
            android:name=".ConfirmActivity"
            android:label="@string/confirm_activity" >
        </activity>
        <activity
            android:name=".ItemDescriptionActivity"
            android:label="@string/title_activity_item_description" >
        </activity>
        <activity
            android:name=".ConfirmPostmatesActivity"
            android:label="@string/title_activity_confirm_postmates" >
        </activity>
        <activity
            android:name=".PickupInformationActivity"
            android:label="@string/pickup_info" >
        </activity>
        <activity
            android:name=".GetStuffActivity"
            android:label="@string/title_activity_get_stuff" >
        </activity>

        <meta-data android:name="com.here.android.maps.appid" android:value="XoKCbFz94Y3K4XaHgxKs"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value="xGOs6CDL8pe02mYdVlEgow"/>

    </application>

</manifest>
